body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background-animation.gif') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5; /* 透明度を50％に設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.dot-art {
  position: relative;
  display: block;
  /* ブロック要素として表示 */
  z-index: 1;
  /* 背景の上に表示するためにz-indexを設定 */
  margin: 20px 0;
  /* 各セクションの間にスペースを追加 */
}
.dot-art .static {
    display: block; /* 静止画を表示 */
}

.dot-art .animated {
    display: none; /* アニメーションを非表示 */
}

.dot-art img {
  display: block;
  /* ブロック要素として表示 */
  width: 700px;
  height: 700px;
  border: 2px solid #333;
  /* これはオプションです */
}

.dot-art .animated {
  display: none;
}

img {
  width: 700px;
  height: 700px;
  border: 2px solid #333;
  /* これはオプションです */
}
